.MuiBottomNavigationAction-root {
    min-width: 0px !important;
}

a svg {
    margin-top: 4px;
}

.MuiBottomNavigationAction-label.Mui-selected {
    font-size: 0.64rem !important;
}

.MuiBottomNavigationAction-label.Mui-selected:focus {
    outline: none !important;
}

.MuiBottomNavigationAction-wrapper:focus {
    outline: none !important;
}

button:focus {
    outline: none !important;
}

.MuiBottomNavigationAction-root.Mui-selected {
    color: #28d89f !important;
}
