.cam-btn {
    display: flex;
    justify-content: center;
    padding: 12px 0 12px;
}

.flexCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4vh;
    /* margin-bottom: 5vh; */
}

.MuiTypography-gutterBottom {
    margin-bottom: 0 !important;
}

.img-div {
    max-width: 720px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.BusinessCardUploaderContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.CardWebCam {
    text-align: center;
}
