.function-cards-all {
    height: calc(100vh - 70px - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: 'translate(-50%, -50%)' */
}

.function-card {
    padding: 12px 12px;
}

/* #home-logo {
    width: 720px;
} */

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 672px) {
    .function-cards-all {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .function-card {
        padding: 12px;
    }
    #home-logo {
        max-width: 92vw;
        padding: 8% 0;
    }
}

@media screen and (max-width: 360px) and (max-width: 375px) and (max-width: 411px) and (max-width: 414px) {
    .function-cards-all {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .function-card {
        padding: 12px;
        /* width: 200px; */
    }
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
