.Navbar__container {
    display: flex;
    width: 100%;
    height: 70px;
    padding: 12px 12px 12px 12px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.Navbar__link a {
    padding: 8px 12px !important;
}

.Navbar__link {
    display: flex;
}

.Navbar__link li,
li img,
li h4 {
    display: flex;
    align-items: center;
}

.Navbar__link a {
    box-sizing: content-box;
    padding: 20px 0;
    margin-top: 8px;
}

.Navbar__link a:hover {
    background-color: #515151;
    color: #fff;
}

#profilePic {
    box-sizing: content-box;
    width: 40px;
    height: 40px;
    border-radius: 28px;
    padding: 8px;
    margin: 12px 0 0 0;
}

#username {
    padding-top: 10px;
    /* color: #3f89ff; */
}

@media screen and (max-width: 411px) {
    #username {
        display: none;
    }
}

@media screen and (max-width: 360px) and (max-width: 375px) and (max-width: 411px) and (max-width: 414px) {
    #username {
        display: none;
    }
}

#logo img {
    max-height: 48px;
    margin-top: 4px;
}

@media screen and (max-width: 360px) {
    .BrandLogo {
        max-width: 140px;
    }
}
