* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: transparent;
}

.App {
    max-width: 100%;
    height: max-content;
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* .bg-color {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 10em;
    height: 10em;
    transform: rotate(45deg);
    margin: 2em;
    float: left;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(0, 0, 0, 0.05) 100%
    );
} */

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 360px) and (max-width: 375px) and (max-width: 411px) and (max-width: 414px) {
    .App {
        max-width: 100%;
        height: fit-content;
    }
}
