html {
    margin: 0;
    padding: 0;
    background: linear-gradient(
            180deg,
            rgba(67, 113, 240, 0) 20%,
            rgba(67, 113, 240, 0.1) 20%,
            rgba(67, 113, 240, 0.1) 40%,
            rgba(67, 113, 240, 0.2) 40%,
            rgba(67, 113, 240, 0.2) 60%,
            rgba(67, 113, 240, 0.4) 60%,
            rgba(67, 113, 240, 0.4) 80%,
            rgba(67, 113, 240, 0.5) 80%
        ),
        linear-gradient(
            45deg,
            rgba(39, 250, 187, 0.3) 20%,
            rgba(39, 250, 187, 0.4) 20%,
            rgba(39, 250, 187, 0.4) 40%,
            rgba(39, 250, 187, 0.5) 40%,
            rgba(39, 250, 187, 0.5) 60%,
            rgba(39, 250, 187, 0.6) 60%,
            rgba(39, 250, 187, 0.6) 80%,
            rgba(39, 250, 187, 0.7) 80%
        ),
        linear-gradient(
            -45deg,
            rgba(39, 186, 204, 0) 20%,
            rgba(39, 186, 204, 0.1) 20%,
            rgba(39, 186, 204, 0.1) 40%,
            rgba(39, 186, 204, 0.2) 40%,
            rgba(39, 186, 204, 0.2) 60%,
            rgba(39, 186, 204, 0.4) 60%,
            rgba(39, 186, 204, 0.4) 80%,
            rgba(39, 186, 204, 0.6) 80%
        ),
        linear-gradient(
            90deg,
            rgba(178, 206, 254, 0) 20%,
            rgba(178, 206, 254, 0.3) 20%,
            rgba(178, 206, 254, 0.3) 40%,
            rgba(178, 206, 254, 0.5) 40%,
            rgba(178, 206, 254, 0.5) 60%,
            rgba(178, 206, 254, 0.7) 60%,
            rgba(178, 206, 254, 0.7) 80%,
            rgba(178, 206, 254, 0.8) 80%
        ),
        linear-gradient(
            -90deg,
            rgba(242, 162, 232, 0) 20%,
            rgba(242, 162, 232, 0.4) 20%,
            rgba(242, 162, 232, 0.4) 40%,
            rgba(242, 162, 232, 0.5) 40%,
            rgba(242, 162, 232, 0.5) 60%,
            rgba(242, 162, 232, 0.6) 60%,
            rgba(242, 162, 232, 0.6) 80%,
            rgba(242, 162, 232, 0.8) 80%
        ),
        linear-gradient(
            180deg,
            rgba(246, 163, 254, 0) 20%,
            rgba(246, 163, 254, 0.4) 20%,
            rgba(246, 163, 254, 0.4) 40%,
            rgba(246, 163, 254, 0.6) 40%,
            rgba(246, 163, 254, 0.6) 60%,
            rgba(246, 163, 254, 0.8) 60%,
            rgba(246, 163, 254, 0.8) 80%,
            rgba(246, 163, 254, 0.9) 80%
        );
    background-color: rgb(255, 255, 255);
    background-size: 100% 120%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    padding-bottom: 56px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background: linear-gradient(to bottom, #6e529d 0%, #d97b93 100%);
    width: 100%;
    height: 100%;
    position: absolute; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
